# Binance API
binance_api="xxx"
binance_secret="xxx"

# Telegram
telegram_chat_id="xxx"
telegram_token_closed_positions="xxx"
telegram_token_errors="xxx"
telegram_token_main="xxx"
telegram_token_signals="xxx"
