altair==6.0.0
backtesting==0.6.5
beautifulsoup4==4.14.3
ccxt==4.5.64
millify==0.1.1
numpy==2.4.1
pandas==2.3.3
playwright==1.57.0
plotly==6.5.2
python-binance==1.0.34
python-crontab==3.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.3
requests==2.33.0
schedule==1.2.2
scheduler==0.8.8
streamlit==1.54.0
streamlit-authenticator==0.4.2
ta==0.11.0
